<h1>Your Hung Over Friends:</h1>

<ul>
<% @people.each do |p| %>
      <%= link_to person_path p do %>
      <li>
        <strong><%= p.name %> - <%= p.age %></strong>
      <% end %>
      </li>
<% end %>
</ul>

<%= link_to "Add another user!", new_person_path(@person) %>