<h2>Your Hung Over Friends:</h2>
<h3>
<% @people.each do |p| %>
      <%= link_to person_path p do %>
      <ul>
        <strong><%= p.name %></strong>
      <% end %>
      </ul>
<% end %>
</h3>

<%= link_to "Not a user? Join the hung over community HERE", new_person_path(@person) %>


