<% @cures.each do |cure|%>

 <h4>What Happened Last Night:</h4> <%= cure.item %><br>

 <h4>The Cure:</h4> <%= cure.lastnight %><br>

 <% if cure.image_file_name %>
 <%= image_tag cure.image.url, class: "picture" %><br>



<% end %>
<%= "Posted by " + cure.person.name + " " + distance_of_time_in_words_to_now(cure.created_at) + " ago" %>

 <br>
 <br>
<% end %>